@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Pacifico:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Lobster:regular);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pr-color: #fff;
  --second-color: #0a0a0a;
  --color-n3: #26cf6c;
  --cubicbz: cubic-bezier(0.9, 0, 0.1, 1);
  --fz-big: 90px;
  --indent: 50px;
  --indent2: 100px;
}
body {
  font-family:
    'Jost',
    sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
}

.MuiPaper-root {
  width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-animation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
}

.loading-animation {
  z-index: 1000000;
  width: 400px;
  height: 400px;
}
.star {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #f3f3f3;
  text-shadow: 0 0 5px #fff;
  transform-origin: top;
  animation: animate 16s linear infinite;
  opacity: 0;
  pointer-events: none;
}

@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0) scale(0.5);
    opacity: 0;
  }
  20% {
    transform: translate3d(30px, 20vh, 0) scale(0.6);
    opacity: 0.7;
  }
  40% {
    transform: translate3d(60px, 40vh, 0) scale(0.8);
    opacity: 1;
  }
  60% {
    transform: translate3d(90px, 60vh, 0) scale(1);
    opacity: 0.8;
  }
  80% {
    transform: translate3d(120px, 80vh, 0) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translate3d(140px, 100vh, 0) scale(0.3);
    opacity: 0;
  }
}

.app-name text {
  stroke-dasharray: 500;
  stroke-dashoffset: 0;
  stroke-width: 2px;
  transition: stroke-dashoffset 0.3s ease;
}

.app-name:hover text {
  animation: animate-text 3s ease-in-out forwards;
}

@keyframes animate-text {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.gradient {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 20;
}

.end-lottie {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 1px;
}

.wrapp {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.section-slider {
  height: auto;
  padding: 30px 0;
}

.gsap__slider {
  height: 80vh;
}

.gsap__bl {
  width: 100%;
}

.gsap__inner,
.gsap__track {
  display: flex;
  padding-right: 100px;
  padding-left: 50px;
}

.gsap__inner {
  width: calc(100% + var(--indent));
}

.gsap__track {
  will-change: transform;
}

.gsap__item {
  position: relative;
  flex: 0 0 auto;
  width: 750px;
  background: #000;
  will-change: transform;
}

.gsap__item1 {
  position: relative;
  flex: 0 0 auto;
  height: 100vh;
  will-change: transform;
}

.gsap__item + .gsap__item {
  margin-left: var(--indent);
}

.gsap__item img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.gsap__item-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  filter: blur(15px);
  transform: scale(1.3);
  z-index: 1;
}

.gsap_slider .content,
.gsap_h,
.gsap__bl,
.gsap__inner,
.gsap__item {
  height: 100%;
}

.navlink:hover .navlink-line {
  width: 60%;
}

.content {
  width: 100%;
  height: auto;
  padding: 0 var(--indent);
}

.section-text {
  margin-top: var(--indent2);
}

.content .description-content {
  color: #616161;
  font-size: 25px;
  line-height: 1.4;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}
.text-section2.split-char {
  transform: translateY(40px);
  transition: transform 0.5s;
}

.button-buy-now {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  transition: color 0.3s ease-in-out;
  border-radius: var(--Typography-Line-Height-lineHeightLG, 24px);
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10.649999618530273px);
}

.button-buy-now::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Màu bạn muốn fill */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
  z-index: -1; /* Đưa lớp phủ xuống dưới chữ */
}

.button-buy-now:hover {
  color: #000; /* Thay đổi màu chữ khi hover */
}

.button-buy-now:hover::after {
  transform: scaleX(1); /* Hiển thị lớp phủ từ trái sang phải */
}

.button-profile {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-weight: bold;
  color: black;
  border: 2px solid #ef4444;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 20px;
  transition: color 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  margin-top: 20px;
}

.button-profile::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ef4444;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
  z-index: -1;
  border-radius: 16px;
}

.button-profile:hover {
  color: white;
}

.button-profile:hover::after {
  transform: scaleX(1);
}
.dark .custom-steps .step-finish .ant-steps-item-icon {
  background-color: #fff;
  border-color: #fff;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dark .custom-steps .step-finish .ant-steps-item-icon .ant-steps-icon {
  color: #ef4444;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .custom-steps .step-process .ant-steps-item-icon {
  background-color: #fff;
  border-color: #fff;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-steps .step-process .ant-steps-item-icon {
  background-color: #ef4444;
  border-color: #ef4444;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dark
  .custom-steps
  .step-process
  .ant-steps-item-content
  .ant-steps-item-title {
  font-weight: bold;
  color: #ef4444;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark
  .custom-steps
  .step-process
  .ant-steps-item-content
  .ant-steps-item-title::after {
  background: #ef4444;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-steps
  .step-finish
  .ant-steps-item-content
  .ant-steps-item-title::after {
  background: #ef4444 !important;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-steps .step-finish .ant-steps-item-icon .ant-steps-icon {
  color: #ef4444;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-steps .step-finish .ant-steps-item-icon {
  background-color: #fdd3d3;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .custom-steps .step-process .ant-steps-item-icon .ant-steps-icon {
  color: #ef4444;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .custom-steps .step-wait .ant-steps-item-icon {
  background-color: #d9d9d9; /* Xám */
  border-color: #ccc;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dark .custom-steps .step-wait .ant-steps-item-icon .ant-steps-icon {
  color: #000;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .custom-steps .step-wait .ant-steps-item-content .ant-steps-item-title {
  color: #d9d9d9;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark
  .custom-steps
  .step-wait
  .ant-steps-item-content
  .ant-steps-item-title::after {
  background: #d9d9d9;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .custom-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .custom-steps .ant-steps-item-finish .ant-steps-icon {
  color: #fff;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark
  .custom-steps
  .ant-steps-item-finish
  .ant-steps-item-content
  .ant-steps-item-title {
  color: #ef4444;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark
  .custom-steps
  .ant-steps-item-finish
  .ant-steps-item-content
  .ant-steps-item-title::after {
  background: #ef4444;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-steps .step-wait:hover .ant-steps-item-icon .ant-steps-icon {
  color: #ef4444 !important;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-steps .step-wait:hover .ant-steps-item-icon {
  border-color: #ef4444 !important;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-steps .step-wait:hover .ant-steps-item-content .ant-steps-item-title {
  color: #ef4444 !important;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-steps .step-finish:hover .ant-steps-item-icon .ant-steps-icon {
  color: #ef4444 !important;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-steps .step-finish:hover .ant-steps-item-icon {
  border-color: #ef4444 !important;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-steps .step-finish:hover .ant-steps-item-content .ant-steps-item-title {
  color: #ef4444 !important;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:where(.css-dev-only-do-not-override-1x0dypw).ant-modal-root .ant-modal-wrap {
  top: 25%;
}
