<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylle.css" />
  </head>
  <body>
    <section class="section">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto a fuga
      repellendus est sunt non incidunt quasi, error, deserunt ab porro sint
      quibusdam necessitatibus, asperiores amet dolorem laborum quas rerum.
    </section>
    <section class="section">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat saepe
      voluptatem deserunt architecto pariatur culpa voluptatibus ea nobis iste
      deleniti, molestiae adipisci quis sapiente provident? Cumque, beatae.
      Esse, facilis suscipit.
    </section>
    <section class="section racesWrapper">
      <div class="races">
        <img
          src="https://64.media.tumblr.com/d8123e61c9341335512f20d83d4bffd0/05a7b748bd8f6376-42/s1280x1920/96eeb4ee211ef453a4677ec21f3c04803880907a.jpg"
          alt=""
        />
        <img
          src="https://64.media.tumblr.com/d8123e61c9341335512f20d83d4bffd0/05a7b748bd8f6376-42/s1280x1920/96eeb4ee211ef453a4677ec21f3c04803880907a.jpg"
          alt=""
        />
        <img
          src="https://64.media.tumblr.com/d8123e61c9341335512f20d83d4bffd0/05a7b748bd8f6376-42/s1280x1920/96eeb4ee211ef453a4677ec21f3c04803880907a.jpg"
          alt=""
        />
        <img
          src="https://64.media.tumblr.com/d8123e61c9341335512f20d83d4bffd0/05a7b748bd8f6376-42/s1280x1920/96eeb4ee211ef453a4677ec21f3c04803880907a.jpg"
          alt=""
        />
        <img
          src="https://64.media.tumblr.com/d8123e61c9341335512f20d83d4bffd0/05a7b748bd8f6376-42/s1280x1920/96eeb4ee211ef453a4677ec21f3c04803880907a.jpg"
          alt=""
        />
        <img
          src="https://64.media.tumblr.com/d8123e61c9341335512f20d83d4bffd0/05a7b748bd8f6376-42/s1280x1920/96eeb4ee211ef453a4677ec21f3c04803880907a.jpg"
          alt=""
        />
        <img
          src="https://64.media.tumblr.com/d8123e61c9341335512f20d83d4bffd0/05a7b748bd8f6376-42/s1280x1920/96eeb4ee211ef453a4677ec21f3c04803880907a.jpg"
          alt=""
        />
        <img
          src="https://64.media.tumblr.com/d8123e61c9341335512f20d83d4bffd0/05a7b748bd8f6376-42/s1280x1920/96eeb4ee211ef453a4677ec21f3c04803880907a.jpg"
          alt=""
        />
        <img
          src="https://64.media.tumblr.com/d8123e61c9341335512f20d83d4bffd0/05a7b748bd8f6376-42/s1280x1920/96eeb4ee211ef453a4677ec21f3c04803880907a.jpg"
          alt=""
        />
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script>
      gsap.registerPlugin(ScrollTrigger);

      const races = document.querySelector(".races");
      console.log(races.offsetWidth);

      function getScrollAmount() {
        let racesWidth = races.scrollWidth;
        return -(racesWidth - window.innerWidth);
      }

      const tween = gsap.to(races, {
        x: getScrollAmount,
        duration: 3,
        ease: "none",
      });

      ScrollTrigger.create({
        trigger: ".racesWrapper",
        start: "top 20%",
        end: () => `+=${getScrollAmount() * -1}`,
        pin: true,
        animation: tween,
        scrub: 1,
        invalidateOnRefresh: true,
        markers: true,
      });
    </script>
  </body>
</html>
