<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <fieldset>
      <legend>Tiara Basori</legend>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/lms-backend-1d9f5.appspot.com/o/Images%2F1731131101449_Pancake.jpeg?alt=media&token=c5adb720-3cc8-45be-833f-d178f56271d8"
        alt=""
      />
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis hic
        facilis dicta vel, reprehenderit corporis, dignissimos inventore
        perspiciatis minima ducimus praesentium, aspernatur vitae nemo nulla.
        Molestias quasi atque ullam laboriosam.
      </p>
    </fieldset>

    <style>
      fieldset {
        border: 2px solid #333;
        border-radius: 10px;
        margin: 20px;
        width: 300px;
      }
      legend {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
      }

      img {
        width: 400px;
        aspect-ratio: 4/3;
        object-fit: cover;
        object-position: 0% 10%;
      }
      p {
        text-align: justify;
        text-wrap: wrap;
      }
    </style>
  </body>
</html>
