@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

body {
  margin: 0;
  background: #15151e;
  overflow-x: hidden;
}
section {
  height: 100vh;
}
img {
  width: 20vw;
}
.races {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}
